

<footer>
    <div class="footer-" id="footer">
        <div class="container">
            <div class="row">
            
                <div class="col-md-4 col-md-offset-4">
                    <h3 style="margin-left:20px"> Team1 Blog </h3>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook"></i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter"> </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
                
            </div>
        </div>
            <!--/.row-->
    </div>
        <!--/.container-->
   
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Team 1 Blog. All rights reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>