@model Team1Blog.Models.Blog

@{
    
}



    <div class="container-fluid">
        <div class="row">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-default navbar-btn">Browse Blogs by Views</button>
                        <button type="button" class="btn btn-default navbar-btn">Browse Posts by Tags</button>

                    </div>
                    <div class="modal-body">

                        @* Repeat here*@
                        <div class="row BrowsView">
                            <div class="col-md-3">
                                    345 views
                            </div>
                            <div class="col-md-5">
                                Title
                            </div>
                            <div class="col-md-4">
                                Date by author
                            </div>
                        </div>
                        <div class="row BrowsView">
                            <div class="col-md-3">
                                345 views
                            </div>
                            <div class="col-md-5">
                                Title
                            </div>
                            <div class="col-md-4">
                                Date by author
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




